@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
body{
    /* font-family: 'Poppins', sans-serif; */

    font-family: sans-serif;
}
.header{
    background-color: #264653;
    width: 100%;
    height: auto;
}
.header,
.latest-news,
.clinet-say{
    font-family: 'Poppins', sans-serif; 
}

.img-change-1{
    filter: grayscale(100%);
}
.img-change-2{
    filter: saturate(10);
}
.img-change-3{
    filter:hue-rotate(90deg);
}

img, svg{
    color: orange;
}


.form-signin {
    width: 50%;
    max-width: 100%;
    padding: 15px;
    margin: auto;
  }
